.board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.letter{
    border: 1px solid rgb(255, 255, 255);
    width: 80px;
    height: 90px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}

#correct{
    background-color: green;
}

#almost{
    background-color: orange;
}

#error{
    background-color: grey;
}

#disabled {
    background-color: #3a393c;
  }

.keyboard{
    margin-top: 80px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.line1, .line2, .line3{
    display: flex;
    flex-direction: row;
}

.key{
    background-color: grey;
    width: 60px;
    height: 70px;
    margin: 10px;
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#big{
    width:100px
}

.game-over{
    color: white;
}

.game-over h2{
    font-size: 35px;
}